
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


body{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        color: #D07E32;
        padding: 30px; 
    }

.header{
        height: 90vh;
        background-image: linear-gradient(to left, 
        rgba(202, 56, 19, 0.527), 
        rgba(208, 126, 50, 0.363)), 
        url('./foota.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        border-radius: 10px;
    }

.logo-box{
    position: absolute;
    top: 40px; 
    left: 40px;
}

.logo{
    height: 40px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    backface-visibility: hidden;
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 30px;

    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    letter-spacing: 12px;
    font-weight: 700;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft{
    /* 0% is what we want at the start of the animation*/
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    /* 100% is what we want at the end of the animation*/
    /* translateX means the animation is on X axis*/
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 80px;

    transition: all .2s;
    position: relative;
    animation: moveInBottom 1s ease-in;
}

.btn:hover{
   transform: translateY(-3px); 
   box-shadow: 0 10px 20px 
   rgba(0, 0, 0, 0.2);
}
.btn:active{
    transform: translateY(-1px); 
    box-shadow: 0 5px 10px 
   rgba(0, 0, 0, 0.2);
 }
.btn-white{
    background-color: #fff;
    color: #D07E32;
}

.btn::after{
    /* After pseudo element is like the btn, conent must be initialized, display same to btn, height and weight similar too... */
    content: "";
    display: inline-block; 
    height: 100%;
    width: 100%;
    border-radius: 80px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
} 

.btn-white::after{
    /* to make after btn also white */
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.3) scaleY(1.6);
    /* It can work but remember to use transition in parent element so that the transform is more animated */
    opacity: 0;
}

